@import 'bootstrap/dist/css/bootstrap';

.bg-dark {
  background-color: #222222 !important;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('typing-on-computer.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: #e1e1e1;
}

#sticky-footer {
  flex-shrink: none;
}